.inputBorder {
    border: none !important;
    margin: 8px 0px 8px 4px !important;
}

.input-group{
    align-items: center !important;
    border-bottom: 1px solid gray !important;
}

.btn {
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


border-radius: 18px;
}

.col {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
    border-radius: 8px;
}

.fbIcon {
    color: #1877f2;
    font-size: 3rem;
    padding: 0 8px;
}
.twIcon {
    color: #1da1f2;
    font-size: 3rem;
    padding: 0 8px;
}
.gpIcon {
    color: #dd4b39;
    font-size: 3rem;
    padding: 0 8px;
}

