.inputBorder {
    border: none !important;
    margin: 8px 0px 8px 4px !important;
}

.input-group{
    align-items: center !important;
    border-bottom: 1px solid gray !important;
}

.btn {
    background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

border-radius: 18px;
}

