.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.iconInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    transition: none !important;
}
